@font-face {
	font-family: 'Archivo Black';
	font-style: normal;
	src: url(https://fonts.gstatic.com/s/archivoblack/v10/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf?ce=43710007) format('truetype');
}
html,
body {
	height: 100%;
}
body {
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: 'Archivo Black', sans-serif;
}
.glitch-wrapper {
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	 justify-content: center;
	-webkit-box-align: center;
	      align-items: center;
}
.glitch {
	color: white;
	font-size: 150px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}
.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}
.glitch::before {
	left: 2px;
	text-shadow: -2px 0 #49FC00;
	clip: rect(24px, 550px, 90px, 0);
	animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
	left: -2px;
	text-shadow: -2px 0 #b300fc;
	clip: rect(85px, 550px, 140px, 0);
	animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
	0% {
		clip: rect(41px, 9999px, 11px, 0);
	}
	4.166666666666666% {
		clip: rect(71px, 9999px, 69px, 0);
	}
	8.333333333333332% {
		clip: rect(101px, 9999px, 68px, 0);
	}
	12.5% {
		clip: rect(112px, 9999px, 14px, 0);
	}
	16.666666666666664% {
		clip: rect(34px, 9999px, 42px, 0);
	}
	20.833333333333336% {
		clip: rect(107px, 9999px, 110px, 0);
	}
	25% {
		clip: rect(42px, 9999px, 83px, 0);
	}
	29.166666666666668% {
		clip: rect(34px, 9999px, 127px, 0);
	}
	33.33333333333333% {
		clip: rect(34px, 9999px, 105px, 0);
	}
	37.5% {
		clip: rect(47px, 9999px, 82px, 0);
	}
	41.66666666666667% {
		clip: rect(31px, 9999px, 139px, 0);
	}
	45.83333333333333% {
		clip: rect(6px, 9999px, 19px, 0);
	}
	50% {
		clip: rect(33px, 9999px, 3px, 0);
	}
	54.166666666666664% {
		clip: rect(22px, 9999px, 127px, 0);
	}
	58.333333333333336% {
		clip: rect(86px, 9999px, 52px, 0);
	}
	62.5% {
		clip: rect(48px, 9999px, 134px, 0);
	}
	66.66666666666666% {
		clip: rect(137px, 9999px, 141px, 0);
	}
	70.83333333333334% {
		clip: rect(92px, 9999px, 140px, 0);
	}
	75% {
		clip: rect(136px, 9999px, 19px, 0);
	}
	79.16666666666666% {
		clip: rect(66px, 9999px, 109px, 0);
	}
	83.33333333333334% {
		clip: rect(77px, 9999px, 108px, 0);
	}
	87.5% {
		clip: rect(116px, 9999px, 65px, 0);
	}
	91.66666666666666% {
		clip: rect(79px, 9999px, 37px, 0);
	}
	95.83333333333334% {
		clip: rect(137px, 9999px, 135px, 0);
	}
	100% {
		clip: rect(16px, 9999px, 43px, 0);
	}
}
@keyframes glitch-anim {
	0% {
		clip: rect(41px, 9999px, 11px, 0);
	}
	4.166666666666666% {
		clip: rect(71px, 9999px, 69px, 0);
	}
	8.333333333333332% {
		clip: rect(101px, 9999px, 68px, 0);
	}
	12.5% {
		clip: rect(112px, 9999px, 14px, 0);
	}
	16.666666666666664% {
		clip: rect(34px, 9999px, 42px, 0);
	}
	20.833333333333336% {
		clip: rect(107px, 9999px, 110px, 0);
	}
	25% {
		clip: rect(42px, 9999px, 83px, 0);
	}
	29.166666666666668% {
		clip: rect(34px, 9999px, 127px, 0);
	}
	33.33333333333333% {
		clip: rect(34px, 9999px, 105px, 0);
	}
	37.5% {
		clip: rect(47px, 9999px, 82px, 0);
	}
	41.66666666666667% {
		clip: rect(31px, 9999px, 139px, 0);
	}
	45.83333333333333% {
		clip: rect(6px, 9999px, 19px, 0);
	}
	50% {
		clip: rect(33px, 9999px, 3px, 0);
	}
	54.166666666666664% {
		clip: rect(22px, 9999px, 127px, 0);
	}
	58.333333333333336% {
		clip: rect(86px, 9999px, 52px, 0);
	}
	62.5% {
		clip: rect(48px, 9999px, 134px, 0);
	}
	66.66666666666666% {
		clip: rect(137px, 9999px, 141px, 0);
	}
	70.83333333333334% {
		clip: rect(92px, 9999px, 140px, 0);
	}
	75% {
		clip: rect(136px, 9999px, 19px, 0);
	}
	79.16666666666666% {
		clip: rect(66px, 9999px, 109px, 0);
	}
	83.33333333333334% {
		clip: rect(77px, 9999px, 108px, 0);
	}
	87.5% {
		clip: rect(116px, 9999px, 65px, 0);
	}
	91.66666666666666% {
		clip: rect(79px, 9999px, 37px, 0);
	}
	95.83333333333334% {
		clip: rect(137px, 9999px, 135px, 0);
	}
	100% {
		clip: rect(16px, 9999px, 43px, 0);
	}
}
@-webkit-keyframes glitch-anim-2 {
	6.666666666666667% {
		clip: rect(35px, 9999px, 84px, 0);
	}
	10% {
		clip: rect(46px, 9999px, 9px, 0);
	}
	13.333333333333334% {
		clip: rect(21px, 9999px, 72px, 0);
	}
	16.666666666666664% {
		clip: rect(56px, 9999px, 75px, 0);
	}
	20% {
		clip: rect(11px, 9999px, 51px, 0);
	}
	23.333333333333332% {
		clip: rect(130px, 9999px, 52px, 0);
	}
	26.666666666666668% {
		clip: rect(66px, 9999px, 132px, 0);
	}
	30% {
		clip: rect(93px, 9999px, 112px, 0);
	}
	33.33333333333333% {
		clip: rect(10px, 9999px, 17px, 0);
	}
	36.666666666666664% {
		clip: rect(138px, 9999px, 138px, 0);
	}
	40% {
		clip: rect(120px, 9999px, 13px, 0);
	}
	43.333333333333336% {
		clip: rect(46px, 9999px, 148px, 0);
	}
	46.666666666666664% {
		clip: rect(71px, 9999px, 132px, 0);
	}
	50% {
		clip: rect(50px, 9999px, 85px, 0);
	}
	53.333333333333336% {
		clip: rect(105px, 9999px, 63px, 0);
	}
	56.666666666666664% {
		clip: rect(143px, 9999px, 94px, 0);
	}
	60% {
		clip: rect(58px, 9999px, 105px, 0);
	}
	63.33333333333333% {
		clip: rect(52px, 9999px, 59px, 0);
	}
	66.66666666666666% {
		clip: rect(44px, 9999px, 84px, 0);
	}
	70% {
		clip: rect(148px, 9999px, 141px, 0);
	}
	73.33333333333333% {
		clip: rect(124px, 9999px, 57px, 0);
	}
	76.66666666666667% {
		clip: rect(1px, 9999px, 100px, 0);
	}
	80% {
		clip: rect(107px, 9999px, 1px, 0);
	}
	83.33333333333334% {
		clip: rect(29px, 9999px, 92px, 0);
	}
	86.66666666666667% {
		clip: rect(81px, 9999px, 113px, 0);
	}
	90% {
		clip: rect(146px, 9999px, 119px, 0);
	}
	93.33333333333333% {
		clip: rect(131px, 9999px, 44px, 0);
	}
	96.66666666666667% {
		clip: rect(123px, 9999px, 100px, 0);
	}
	100% {
		clip: rect(92px, 9999px, 7px, 0);
	}
}
@keyframes glitch-anim-2 {
	6.666666666666667% {
		clip: rect(35px, 9999px, 84px, 0);
	}
	10% {
		clip: rect(46px, 9999px, 9px, 0);
	}
	13.333333333333334% {
		clip: rect(21px, 9999px, 72px, 0);
	}
	16.666666666666664% {
		clip: rect(56px, 9999px, 75px, 0);
	}
	20% {
		clip: rect(11px, 9999px, 51px, 0);
	}
	23.333333333333332% {
		clip: rect(130px, 9999px, 52px, 0);
	}
	26.666666666666668% {
		clip: rect(66px, 9999px, 132px, 0);
	}
	30% {
		clip: rect(93px, 9999px, 112px, 0);
	}
	33.33333333333333% {
		clip: rect(10px, 9999px, 17px, 0);
	}
	36.666666666666664% {
		clip: rect(138px, 9999px, 138px, 0);
	}
	40% {
		clip: rect(120px, 9999px, 13px, 0);
	}
	43.333333333333336% {
		clip: rect(46px, 9999px, 148px, 0);
	}
	46.666666666666664% {
		clip: rect(71px, 9999px, 132px, 0);
	}
	50% {
		clip: rect(50px, 9999px, 85px, 0);
	}
	53.333333333333336% {
		clip: rect(105px, 9999px, 63px, 0);
	}
	56.666666666666664% {
		clip: rect(143px, 9999px, 94px, 0);
	}
	60% {
		clip: rect(58px, 9999px, 105px, 0);
	}
	63.33333333333333% {
		clip: rect(52px, 9999px, 59px, 0);
	}
	66.66666666666666% {
		clip: rect(44px, 9999px, 84px, 0);
	}
	70% {
		clip: rect(148px, 9999px, 141px, 0);
	}
	73.33333333333333% {
		clip: rect(124px, 9999px, 57px, 0);
	}
	76.66666666666667% {
		clip: rect(1px, 9999px, 100px, 0);
	}
	80% {
		clip: rect(107px, 9999px, 1px, 0);
	}
	83.33333333333334% {
		clip: rect(29px, 9999px, 92px, 0);
	}
	86.66666666666667% {
		clip: rect(81px, 9999px, 113px, 0);
	}
	90% {
		clip: rect(146px, 9999px, 119px, 0);
	}
	93.33333333333333% {
		clip: rect(131px, 9999px, 44px, 0);
	}
	96.66666666666667% {
		clip: rect(123px, 9999px, 100px, 0);
	}
	100% {
		clip: rect(92px, 9999px, 7px, 0);
	}
}

canvas {
	display: block;
	z-index:-1;
}
